<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="contactsFooter">
    <footer>
        <div class="footer-corporate novi-bg novi-bg-img">
            <div class="container">
                <div class="footer-corporate__inner">
                    <p class="rights"><span>© Oksana Piekna,</span>
                        <!-- <span>&nbsp;</span> -->
                        <span class="copyright-year"></span>.</p>
                    <ul class="list-inline-xxs">
                        <li><a class="icon novi-icon icon-md icon-primary fa fa-facebook" href="#" data-toggle="tooltip" data-placement="top" title="Facebook"></a></li>
                        <li><a class="icon novi-icon icon-md icon-primary fa fa-instagram" href="#" data-toggle="tooltip" data-placement="top" title="Instagram 1"></a></li>
                        <li><a class="icon novi-icon icon-md icon-primary fa fa-instagram" href="#" data-toggle="tooltip" data-placement="top" title="Instagram 2"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</th:block>

<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="mainFooter">
    <footer>
        <div class="pre-footer-corporate novi-bg novi-bg-img">
            <div class="container">
                <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
                    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        <h6>Розташування</h6>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.254714460205!2d24.030267815459812!3d49.83767133920889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473adde6c519bf87%3A0xc2bb77774c1ff325!2sAtelier%20Oksana%20Piekna!5e0!3m2!1sen!2spl!4v1604610923492!5m2!1sen!2spl" width="100%" height="93%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>

                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                        <h6>Контакти</h6>
                        <ul class="list-xs">
                            <li>
                                <dl class="list-terms-minimal">
                                    <dt>Адреса</dt>
                                    <dd>79000, Львів, вул. Остапа Нижанківського, 26</dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="list-terms-minimal">
                                    <dt>Телефони</dt>
                                    <dd>
                                        <ul class="list-semicolon">
                                            <li><a href="tel:+380322355385"><br>+380 (32) 235-53-85</a></li>
                                            <li><a href="tel:+380679284646"><br>+380 (67) 928-46-46</a></li>
                                            <li><a href="tel:+380979359223"><br>+380 (97) 935-92-23</a></li>
                                        </ul>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="list-terms-minimal">
                                    <dt>E-mail</dt>
                                    <dd>
                                        <ul class="list-semicolon">
                                            <li><a href="mailto:oksana_piekna@i.ua"><br>oksana_piekna@i.ua</a></li>
                                            <li><a href="mailto:pieknaoksana@gmail.com"><br>pieknaoksana@gmail.com</a></li>
                                        </ul>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="list-terms-minimal">
                                    <dt>Графік роботи</dt>
                                    <dd>Пн-Нд 10.00 – 19.00</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-corporate novi-bg novi-bg-img">
            <div class="container">
                <div class="footer-corporate__inner">
                    <p class="rights"><span>© Oksana Piekna,</span>
                        <!-- <span>&nbsp;</span> -->
                        <span class="copyright-year"></span>.</p>
                    <ul class="list-inline-xxs">
                        <li><a class="icon novi-icon icon-md icon-primary fa fa-facebook" href="#" data-toggle="tooltip" data-placement="top" title="Facebook"></a></li>
                        <li><a class="icon novi-icon icon-md icon-primary fa fa-instagram" href="#" data-toggle="tooltip" data-placement="top" title="Instagram 1"></a></li>
                        <li><a class="icon novi-icon icon-md icon-primary fa fa-instagram" href="#" data-toggle="tooltip" data-placement="top" title="Instagram 2"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</th:block>