<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="indexHeader">
    <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar_transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="100px" data-xxl-stick-up-offset="100px" data-body-class="rd-navbar-absolute rd-navbar_transparent-linked">
                <!-- RD Navbar Top Panel-->
                <div class="rd-navbar-top-panel rd-navbar-search-wrap">
                    <div class="rd-navbar-top-panel__aside">
                    </div>
                </div>
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!-- Brand--><a class="brand" href="/"><img class="brand-logo-dark" src="images/logo.png" alt="" width="173" height="100%"/><img class="brand-logo-light" src="images/logo-inverse-347x65.png" alt="" width="173" height="32"/></a>
                        </div>
                    </div>
                    <!-- RD Navbar Nav-->
                    <!-- <div style="display: inline-flex; justify-content: space-between;"> -->
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item" th:classappend="${activeLink?.equals('index')}?'active':''"><a class="rd-nav-link" href="/">Головна</a></li>
                            <li class="rd-nav-item" th:classappend="(${activeLink?.equals('shop')})?'active':''"><a class="rd-nav-link" href="/shop">Магазин</a></li>
                            <li class="rd-nav-item" th:classappend="(${activeLink?.equals('pricing')})?'active':''"><a class="rd-nav-link" href="/pricing">Оплата і доставка</a></li>
                            <li class="rd-nav-item" th:classappend="(${activeLink?.equals('contacts')})?'active':''"><a class="rd-nav-link" href="/contacts">Контакти</a></li>
                        </ul>
                    </div>
                    <ul class="rd-navbar-items-list ">
                        <li>
                            <div class="rd-navbar-fixed__element-1"><a class="icon novi-icon icon-md linear-icon-cart link-gray-4" th:classappend="(${activeLink?.equals('cart')})?'link-gray-1':'link-gray-4'" href="/cart">2</a></div>
                        </li>
                    </ul>
                    <!-- </div> -->
                </div>
            </nav>
        </div>
        <!-- Swiper-->
        <section class="rd-parallax">
            <div class="rd-parallax-layer" data-type="html" data-speed="1">
                <div class="swiper-container swiper-slider swiper-slider_fullheight" data-simulate-touch="false" data-loop="false" data-autoplay="5500">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide bg-secondary-7" data-slide-bg="images/pexels-mentatdgt-1485781_2.jpg" style="background-position: top">
                            <div class="swiper-slide-caption text-center" data-speed="0.5" data-fade="true">
                                <div class="container">
                                    <h1 data-caption-animate="fadeInUpSmall"><span>Oksana Piekna</span></h1>
                                    <h3 data-caption-animate="fadeInUpSmall" data-caption-delay="200">Cтиль, що існує поза часом</h3>
                                    <div class="group-lg group-middle"><a class="button button-gray-light-outline" data-caption-animate="fadeInLeftSmall" data-caption-delay="200" href="/shop">До магазину</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide bg-secondary-7" data-slide-bg="images/pexels-caroline-feelgood-3654769_2.jpg">
                            <div class="swiper-slide-caption text-left" data-speed="0.5" data-fade="true">
                                <div class="container">
                                    <h2 data-caption-animate="fadeInLeftSmall">Індивідуальний підхід<br> та пошиття<br class="d-none d-lg-block"></h2><a class="button button-gray-light-outline" data-caption-animate="fadeInLeftSmall" data-caption-delay="200" href="/contacts">Детальніше</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide bg-secondary-7" data-slide-bg="images/pexels-cottonbro-5119526.jpg">
                            <div class="swiper-slide-caption text-center" data-speed="0.5" data-fade="true">
                                <div class="container">
                                    <h2 data-caption-animate="fadeInUpSmall">Капсульні колекції одягу</h2>
                                    <h5 class="text-width-2 block-centered" data-caption-animate="fadeInUpSmall" data-caption-delay="200">Monstroid² aims to satisfy real needs of real projects. We've got a pack of useful tools for that.</h5>
                                    <div class="group-lg group-middle"><a class="button button-primary" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="/shop">До магазину</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Swiper Pagination-->
                    <div class="swiper-pagination"></div>
                    <!-- Swiper Navigation-->
                    <div class="swiper-button-prev linear-icon-chevron-left"></div>
                    <div class="swiper-button-next linear-icon-chevron-right"></div>
                </div>
            </div>
        </section>

    </header>
</th:block>

<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="mainHeader">
    <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar novi-bg novi-bg-img" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="69px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px">
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!-- Brand--><a class="brand" href="index_new.html"><img class="brand-logo-dark" src="images/logo.png" alt="" width="173" height="100%"/><img class="brand-logo-light" src="images/logo-inverse-347x65.png" alt="" width="173" height="32"/></a>
                        </div>
                    </div>
                    <!-- RD Navbar Nav-->
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item" th:classappend="${activeLink?.equals('index')}?'active':''"><a class="rd-nav-link" href="/">Головна</a></li>
                            <li class="rd-nav-item" th:classappend="(${activeLink?.equals('shop')})?'active':''"><a class="rd-nav-link" href="/shop">Магазин</a></li>
                            <li class="rd-nav-item" th:classappend="(${activeLink?.equals('pricing')})?'active':''"><a class="rd-nav-link" href="/pricing">Оплата і доставка</a></li>
                            <li class="rd-nav-item" th:classappend="(${activeLink?.equals('contacts')})?'active':''"><a class="rd-nav-link" href="/contacts">Контакти</a></li>
                        </ul>
                    </div>

                    <ul class="rd-navbar-items-list ">
                        <li>
                            <div class="rd-navbar-fixed__element-1"><a class="icon novi-icon icon-md linear-icon-cart" th:classappend="(${activeLink?.equals('cart')})?'link-gray-1':'link-gray-4'" href="/cart">2</a></div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</th:block>