<!DOCTYPE html>
<html class="wide wow-animation" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Site Title-->
    <title>Кошик</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div id="page-loader">
      <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page header-->
      <div th:replace="~{fragments/headersFrag.html :: mainHeader}"></div>

      <!-- Breadcrumbs-->
      <section class="section novi-bg novi-bg-img breadcrumbs-custom">
        <div class="container">
          <div class="breadcrumbs-custom__inner">
            <p class="breadcrumbs-custom__title">Кошик</p>
          </div>
        </div>
      </section>

      <section class="section novi-bg novi-bg-img section-lg bg-default">
        <div class="container">
          <form th:action="@{/checkout}" method="post">
            <div class="table-responsive">

              <table class="table-cart">
                <thead>
                <tr>
                  <th colspan="2">Замовлення</th>
                  <th>Ціна</th>
                  <th>Кількість</th>
                  <th>Разом</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pr, i : ${order?.getOrderDetails()}" th>
                  <td class="table-cart-remove-item">
                    <a th:href="@{'/deleteFromCart/'+${pr.getProduct().getId()}}">
                      <span class="icon novi-icon icon-sm linear-icon-cross2 icon-gray-4"></span>
                    </a>
                  </td>
                  <td style="min-width: 330px">
                    <div class="unit flex-row unit-spacing-md align-items-center">
                      <div class="unit-left"><img th:src="@{'/shop/getImgByProductId/'+${pr.getProduct().getId()}}" alt="" width="141" height="188"/>
                      </div>
                      <div class="unit-body">
                        <h6><a class="thumbnail-classic-title" th:href="@{'/singleProduct/'+${pr.getProduct().getId()}}" th:text="${pr.getProduct().getName()}">Adidas Originals Trefoil Logo Snapback Trucker Cap</a></h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="product-price"><span th:text="${pr.getProduct().getPrice()}">45</span></div>
                  </td>
                  <td>
                    <input class="form-input" type="number" data-zeros="true" th:value="${pr.getCount()}" min="1" max="20" name="count">
                    <input type="hidden"  th:value="${pr.getId()}" name="id">
                  </td>
                  <td>
                    <div class="product-price"><span class="single-product-price" th:text="${pr.getProduct().getPrice()*pr.getCount()}">45</span></div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="row row-fix row-50 text-center">
              <div class="col-sm-12">
                <div class="text-md-right">
                  <dl class="heading-5 list-terms-minimal">
                    <dt>До оплати</dt>
                    <dd id="checkoutSum" style="color: #2ed3ae;"></dd>
                  </dl>
                  <input class="button button-primary" type="submit" value="Перейти до оформлення">
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
      <!-- Page Footer-->
      <div th:replace="~{fragments/footersFrag.html :: mainFooter}"></div>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <script>
      $( document ).ready(function() {
        let sum = 0.0;
        $(".single-product-price").each(function() {
          console.log($(this).html());
          sum += parseFloat($(this).html().trim());
        });
        $('#checkoutSum').text("₴"+sum.toFixed(2));
        console.log(sum);
      });
    </script>
  </body>
</html>