<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Кошик</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div id="page-loader">
      <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar novi-bg novi-bg-img" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="69px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand">
                  <!-- Brand--><a class="brand" href="index_new.html"><img class="brand-logo-dark" src="images/logo.png" alt="" width="173" height="100%"/><img class="brand-logo-light" src="images/logo-inverse-347x65.png" alt="" width="173" height="32"/></a>
                </div>
              </div>
              <!-- RD Navbar Nav-->
              <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                  <li class="rd-nav-item"><a class="rd-nav-link" href="index_new.html">Головна</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="shop-grid.html">Магазин</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="pricing.html">Оплата і доставка</a></li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Контакти</a></li>
                </ul>
              </div>

              <ul class="rd-navbar-items-list ">
                <li>
                  <div class="rd-navbar-fixed__element-1"><a class="icon novi-icon icon-md linear-icon-cart link-gray-1" href="cart.html">2</a></div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>

      <!-- Breadcrumbs-->
      <section class="section novi-bg novi-bg-img breadcrumbs-custom">
        <div class="container">
          <div class="breadcrumbs-custom__inner">
            <p class="breadcrumbs-custom__title">Кошик</p>
          </div>
        </div>
      </section>

      <section class="section novi-bg novi-bg-img section-lg bg-default">
        <div class="container">
          <div class="table-responsive">
            <table class="table-cart">
              <thead>
                <tr>
                  <th colspan="2">Замовлення</th>
                  <th>Ціна</th>
                  <th>Кількість</th>
                  <th>Разом</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="table-cart-remove-item"><span class="icon novi-icon icon-sm linear-icon-cross2 icon-gray-4"></span></td>
                  <td style="min-width: 330px">
                    <div class="unit flex-row unit-spacing-md align-items-center">
                      <div class="unit-left"><img src="images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-141x188.jpg" alt="" width="141" height="188"/>
                      </div>
                      <div class="unit-body">
                        <h6><a class="thumbnail-classic-title" href="single-product.html">Adidas Originals Trefoil Logo Snapback Trucker Cap</a></h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="product-price"><span>45</span></div>
                  </td>
                  <td>
                    <input class="form-input" type="number" data-zeros="true" value="1" min="1" max="20">
                  </td>
                  <td>
                    <div class="product-price"><span>45</span></div>
                  </td>
                </tr>
                <tr>
                  <td class="table-cart-remove-item"><span class="icon novi-icon icon-sm linear-icon-cross2 icon-gray-4"></span></td>
                  <td style="min-width: 330px">
                    <div class="unit flex-row unit-spacing-md align-items-center">
                      <div class="unit-left"><img src="images/ASOS-Sculpt-Me-Premium-Jeans-in-Clean-Black-141x188.jpg" alt="" width="141" height="188"/>
                      </div>
                      <div class="unit-body">
                        <h6><a class="thumbnail-classic-title" href="single-product.html">ASOS ‘Sculpt Me’ Premium Jeans in Clean Black</a></h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="product-price"><span>45</span></div>
                  </td>
                  <td>
                    <input class="form-input" type="number" data-zeros="true" value="1" min="1" max="20">
                  </td>
                  <td>
                    <div class="product-price"><span>45</span></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row row-fix row-50 text-center">
            <div class="col-sm-12">
              <div class="text-md-right">
                <!-- <dl class="list-terms-minimal">
                  <dt>До оплати</dt>
                  <dd>$90</dd>
                </dl> -->
                <dl class="heading-5 list-terms-minimal">
                  <dt>До сплати</dt>
                  <dd>$90</dd>
                </dl><a class="button button-primary" href="checkout.html">Перейти до оформлення</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer>
        <div class="pre-footer-corporate novi-bg novi-bg-img">
          <div class="container">
            <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
              <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
                <h6>Розташування</h6>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.254714460205!2d24.030267815459812!3d49.83767133920889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473adde6c519bf87%3A0xc2bb77774c1ff325!2sAtelier%20Oksana%20Piekna!5e0!3m2!1sen!2spl!4v1604610923492!5m2!1sen!2spl" width="100%" height="93%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
              </div>

              <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                <h6>Контакти</h6>
                <ul class="list-xs">
                  <li>
                    <dl class="list-terms-minimal">
                      <dt>Адреса</dt>
                      <dd>79000, Львів, вул. Остапа Нижанківського, 26</dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="list-terms-minimal">
                      <dt>Телефони</dt>
                      <dd>
                        <ul class="list-semicolon">
                          <li><a href="tel:+380322355385"><br>+380 (32) 235-53-85</a></li>
                          <li><a href="tel:+380679284646"><br>+380 (67) 928-46-46</a></li>
                          <li><a href="tel:+380979359223"><br>+380 (97) 935-92-23</a></li>
                        </ul>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="list-terms-minimal">
                      <dt>E-mail</dt>
                      <dd>
                        <ul class="list-semicolon">
                          <li><a href="mailto:oksana_piekna@i.ua"><br>oksana_piekna@i.ua</a></li>
                          <li><a href="mailto:pieknaoksana@gmail.com"><br>pieknaoksana@gmail.com</a></li>
                        </ul>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="list-terms-minimal">
                      <dt>Графік роботи</dt>
                      <dd>Пн-Нд 10.00 – 19.00</dd>
                    </dl>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-corporate novi-bg novi-bg-img">
          <div class="container">
            <div class="footer-corporate__inner">
              <p class="rights"><span>© Oksana Piekna,</span>
                <!-- <span>&nbsp;</span> -->
                <span class="copyright-year"></span>.</p>
              <ul class="list-inline-xxs">
                <li><a class="icon novi-icon icon-md icon-primary fa fa-facebook" href="#"></a></li>
                <li><a class="icon novi-icon icon-md icon-primary fa fa-instagram" href="#"></a></li>
                <li><a class="icon novi-icon icon-md icon-primary fa fa-instagram" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>