<!DOCTYPE html>
<html class="wide wow-animation" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Site Title-->
    <title>Оформити замовлення</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="shortcut icon" th:href="@{/images/OP_ico.png}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div id="page-loader">
      <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page header-->
      <div th:replace="~{fragments/headersFrag.html :: mainHeader}"></div>

      <!-- Breadcrumbs-->
      <section class="section novi-bg novi-bg-img breadcrumbs-custom">
        <div class="container">
          <div class="breadcrumbs-custom__inner">
            <p class="breadcrumbs-custom__title">Оформити замовлення</p>
          </div>
        </div>
      </section>
      <!-- Forms-->
      <form class="" th:action="@{/submitOrder}" method="post">
      <section class="section novi-bg novi-bg-img section-md bg-default">
        <div class="container">
          <!-- Accordion-->
          <div id="accordion4" role="tablist">

          <!-- RD Mailform-->
          <div class="rd-mailform text-left row row-50">
            <div class="col-md-6 col-lg-4">
              <h5>Дані замовника</h5>
              <div class="form-wrap">
                <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                <label class="form-label" for="contact-name">Ім'я *</label>
              </div>
              <div class="form-wrap">
                <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Numeric @Required">
                <label class="form-label" for="contact-phone">Телефон *</label>
              </div>
            </div>
            <div class="col-md-6 col-lg-8">
              <h5>Додаткова інформація</h5>
              <div class="form-wrap">
                <textarea class="form-input" id="contact-message" name="description" data-constraints=""></textarea>
                <label class="form-label" for="contact-message">Повідомлення...</label>
              </div>
            </div>
          </div>
          </div>
        </div>
      </section>
      <section>
        <!-- Divider-->
        <div class="container">
          <div class="divider"></div>
        </div>

      </section>
      <section class="section novi-bg novi-bg-img section-md bg-default" style="padding-bottom: 0px;">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h5>Ваше замовлення</h5>
              <div class="table-responsive">
                <table class="table-checkout">
                  <thead>
                    <tr>
                      <th>Товар</th>
                      <th>Кількість</th>
                      <th>Сума</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="pr : ${order.getOrderDetails()}" >
                      <td>
                        <h6><a class="thumbnail-classic-title" th:href="@{|/singleProduct/${pr.getProduct().getId()}|}" th:text="${pr.getProduct().getName()}"></a></h6>
                      </td>
                      <td>
                        <div class="product-caption"><span th:text="${pr.getCount()}"></span></div>
                      </td>
                      <td>
                        <div class="product-price"><span class="single-product-price" th:text="${pr.getProduct().getPrice()*pr.getCount()}"></span></div>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td class="text-md-right" colspan="3">
                        <dl class="heading-5 list-terms-minimal">
                          <dt>До оплати</dt>
                          <dd id="checkoutSum">$90</dd>
                        </dl>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <!-- Divider-->
        <div class="container">
          <div class="divider"></div>
        </div>

      </section>
      <section class="section novi-bg novi-bg-img section-md bg-default">
        <div class="container">
          <div class="payment-box-button">
            <button class="button button-primary" type="submit">Замовити</button>
          </div>
        </div>
      </section>
      </form>
      <!-- Page Footer-->
      <div th:replace="~{fragments/footersFrag.html :: mainFooter}"></div>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  <script>
    $( document ).ready(function() {
      let sum = 0.0;
      $(".single-product-price").each(function() {
        console.log($(this).html());
        sum += parseFloat($(this).html().trim());
      });
      $('#checkoutSum').text("₴"+sum.toFixed(2));
      console.log(sum);
    });
  </script>
  </body>
</html>