<!DOCTYPE html>
<html class="wide wow-animation" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Site Title-->
    <title>Контакти</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="shortcut icon" th:href="@{/images/OP_ico.png}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div id="page-loader">
      <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page header-->
      <div th:replace="~{fragments/headersFrag.html :: mainHeader}"></div>

      <!-- Breadcrumbs-->
      <section class="section novi-bg novi-bg-img breadcrumbs-custom">
        <div class="container">
          <div class="breadcrumbs-custom__inner">
            <p class="breadcrumbs-custom__title">Контакти</p>
          </div>
        </div>
      </section>

      <section class="section" style="height: 80vh;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.254714460205!2d24.030267815459812!3d49.83767133920889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473adde6c519bf87%3A0xc2bb77774c1ff325!2sAtelier%20Oksana%20Piekna!5e0!3m2!1sen!2spl!4v1604610923492!5m2!1sen!2spl" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </section>
      <section class="section novi-bg novi-bg-img section-lg bg-default">
        <div class="container">
          <div class="row row-fix row-50">
            <div class="col-md-5 col-lg-4">
              <h3>Контактні дані</h3>
              <ul class="list-xs contact-info">
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Адреса</dt>
                    <dd>79000, Львів, вул. Остапа Нижанківського, 26</dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Телефони</dt>
                      <dd>
                        <ul class="list-semicolon">
                          <li><a href="tel:+380322355385"><br>+380 (32) 235-53-85</a></li>
                          <li><a href="tel:+380679284646"><br>+380 (67) 928-46-46</a></li>
                          <li><a href="tel:+380979359223"><br>+380 (97) 935-92-23</a></li>
                        </ul>
                      </dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>E-mail</dt>
                      <dd>
                        <ul class="list-semicolon">
                          <li><a href="mailto:oksana_piekna@i.ua"><br>oksana_piekna@i.ua</a></li>
                          <li><a href="mailto:pieknaoksana@gmail.com"><br>pieknaoksana@gmail.com</a></li>
                        </ul>
                      </dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Графік роботи</dt>
                    <dd>Пн-Нд 10.00 – 19.00</dd>
                  </dl>
                </li>
              </ul>
            </div>
            <div class="col-md-7 col-lg-8">
              <h3>Зворотній зв'язок</h3>
              <!-- RD Mailform-->
              <form class="rd-mailform rd-mailform_style-1" data-form-output="form-output-global" data-form-type="contact" method="post" action="/contacts">
                <div class="form-wrap form-wrap_icon"><span class="novi-icon form-icon linear-icon-man"></span>
                  <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                  <label class="form-label" for="contact-name">Ім'я</label>
                </div>
<!--                <div class="form-wrap form-wrap_icon"><span class="novi-icon form-icon linear-icon-envelope"></span>-->
<!--                  <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email">-->
<!--                  <label class="form-label" for="contact-email">E-mail</label>-->
<!--                </div>-->
                <div class="form-wrap form-wrap_icon"><span class="novi-icon form-icon linear-icon-telephone"></span>
                  <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Numeric">
                  <label class="form-label" for="contact-phone">Телефон</label>
                </div>
                <div class="form-wrap form-wrap_icon"><span class="novi-icon form-icon linear-icon-feather"></span>
                  <textarea class="form-input" id="contact-message" name="description"></textarea>
                  <label class="form-label" for="contact-message">Повідомлення</label>
                </div>
                <button class="button button-primary" type="submit">Надіслати</button>
              </form>
            </div>
          </div>
        </div>
      </section>

     <!-- Page Footer-->
      <div th:replace="~{fragments/footersFrag.html :: contactsFooter}"></div>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>