<!DOCTYPE html>
<html class="js" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- <base href="../"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" th:href="@{/admin/src/images/OP_ico.png}">
    <!-- Page Title  -->
    <title>Помилка</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" th:href="@{/admin/src/assets/css/dashlite.css}">
    <link id="skin-default" rel="stylesheet" th:href="@{/admin/src/assets/css/theme.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body class="nk-body bg-white npc-general pg-error">
<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- wrap @s -->
        <div class="nk-wrap justify-center">
            <!-- content @s -->
            <div class="nk-content ">
                <div class="nk-block nk-block-middle wide-xs mx-auto">
                    <div class="nk-block-content nk-error-ld text-center">
                        <h1 class="nk-error-head" th:text="${status} +  Error">404</h1>
                        <h3 class="nk-error-title">Oops! Why you’re here?</h3>
                        <p class="nk-error-text">We are very sorry for inconvenience. It looks like you’re try to access a page that either has been deleted or never existed.</p>
                        <a href="/" class="btn btn-lg btn-primary mt-2">Back To Home</a>
                    </div>
                </div><!-- .nk-block -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- content @e -->
    </div>
    <!-- main @e -->
</div>
<!-- app-root @e -->
<!-- JavaScript -->
<script th:src="@{/admin/src/assets/js/bundle.js}"></script>
<script th:src="@{/admin/src/assets/js/scripts.js}"></script>
<script th:src="@{/admin/src/assets/js/example-sweetalert.js}"></script>
</body>
</html>