<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Single Product</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="../static/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div id="page-loader">
      <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar novi-bg novi-bg-img" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="69px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand">
                  <!-- Brand--><a class="brand" href="index_new.html"><img class="brand-logo-dark" src="../static/images/logo.png" alt="" width="173" height="32"/><img class="brand-logo-light" src="images/logo-inverse-347x65.png" alt="" width="173" height="32"/></a>
                </div>
              </div>
              <!-- RD Navbar Nav-->
            <div class="rd-navbar-nav-wrap">
              <ul class="rd-navbar-nav">
                <li class="rd-nav-item"><a class="rd-nav-link" href="index_new.html">Головна</a></li>
                <li class="rd-nav-item active"><a class="rd-nav-link" href="shop-grid.html">Магазин</a></li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="pricing.html">Оплата і доставка</a></li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Контакти</a></li>
              </ul>
            </div>

            <ul class="rd-navbar-items-list ">
              <li>
                <div class="rd-navbar-fixed__element-1"><a class="icon novi-icon icon-md linear-icon-cart link-gray-4" href="cart.html">2</a></div>
              </li>
            </ul>
            </div>
          </nav>
        </div>
      </header>

      <!-- Breadcrumbs-->
      <section class="section novi-bg novi-bg-img breadcrumbs-custom">
        <div class="container">
          <div class="breadcrumbs-custom__inner">
            <p class="breadcrumbs-custom__title">Детальніше</p>
          </div>
        </div>
      </section>

      <section class="section novi-bg novi-bg-img section-md bg-default">
        <div class="container">
          <div class="row row-fix row-60">
            <div class="col-md-6 col-lg-5">
              <!-- Slick Carousel-->
              <div class="slick-slider carousel-parent" data-arrows="false" data-loop="false" data-dots="false" data-swipe="true" data-items="1" data-child="#child-carousel" data-for="#child-carousel" data-lightgallery="group">
                <div class="item"><a class="img-thumbnail-variant-2" href="../static/images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-535x714.jpg" data-lightgallery="item">
                    <figure><img src="../static/images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-535x714.jpg" alt="" width="535" height="714"/>
                    </figure>
                    <div class="caption"><span class="icon novi-icon icon-lg linear-icon-magnifier"></span></div></a>
                </div>
                <div class="item"><a class="img-thumbnail-variant-2" href="../static/images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-1-535x714.jpg" data-lightgallery="item">
                    <figure><img src="../static/images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-1-535x714.jpg" alt="" width="535" height="714"/>
                    </figure>
                    <div class="caption"><span class="icon novi-icon icon-lg linear-icon-magnifier"></span></div></a>
                </div>
                <div class="item"><a class="img-thumbnail-variant-2" href="../static/images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-3-535x714.jpg" data-lightgallery="item">
                    <figure><img src="../static/images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-3-535x714.jpg" alt="" width="535" height="714"/>
                    </figure>
                    <div class="caption"><span class="icon novi-icon icon-lg linear-icon-magnifier"></span></div></a>
                </div>
                <div class="item"><a class="img-thumbnail-variant-2" href="../static/images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-2-535x714.jpg" data-lightgallery="item">
                    <figure><img src="../static/images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-2-535x714.jpg" alt="" width="535" height="714"/>
                    </figure>
                    <div class="caption"><span class="icon novi-icon icon-lg linear-icon-magnifier"></span></div></a>
                </div>
              </div>
              <div class="slick-slider" id="child-carousel" data-for=".carousel-parent" data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-items="3" data-xs-items="4" data-sm-items="4" data-md-items="4" data-lg-items="4" data-xl-items="5" data-slide-to-scroll="1">
                <div class="item"><img src="../static/images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-89x120.jpg" alt="" width="89" height="120"/>
                </div>
                <div class="item"><img src="../static/images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap_1-89x120.jpg" alt="" width="89" height="120"/>
                </div>
                <div class="item"><img src="../static/images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap_3-89x120.jpg" alt="" width="89" height="120"/>
                </div>
                <div class="item"><img src="../static/images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap_2-89x120.jpg" alt="" width="89" height="120"/>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-7">
              <div class="product-single">
                <p class="product-stock">В наявності</p>
                <h4>Adidas Originals Trefoil Logo Snapback Trucker Cap</h4>
                <p class="product-price"><span>45</span></p>
                <p class="product-text">Fashion has always been so temporary and uncertain. You can’t keep up with it.This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies.</p>
                <div class="form-wrap product-select">
                  <!--Select 2-->
                  <select class="form-input select-filter" data-placeholder="Size" data-minimum-results-for-search="Infinity">
                    <option>Size</option>
                    <option value="2">XS</option>
                    <option value="3">S</option>
                    <option value="4">M</option>
                    <option value="5">L</option>
                    <option value="6">XL</option>
                  </select>
                </div>
                <div class="group group-middle">
                  <input class="form-input" type="number" data-zeros="true" value="1" min="1" max="50">
                  <button class="button button-primary button-icon button-icon-left" type="submit"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>До кошика</span></button>
                </div>
                <ul class="product-meta">
                  <li>
                    <dl class="list-terms-minimal">
                      <dt>SKU</dt>
                      <dd>256</dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="list-terms-minimal">
                      <dt>Category</dt>
                      <dd>
                        <ul class="product-categories">
                          <li><a href="single-product.html">Accessories</a></li>
                          <li><a href="single-product.html">Shoes</a></li>
                          <li><a href="single-product.html">Sport</a></li>
                          <li><a href="single-product.html">Women</a></li>
                        </ul>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="list-terms-minimal">
                      <dt>Tags</dt>
                      <dd>
                        <ul class="product-categories">
                          <li><a href="single-product.html">skirt</a></li>
                          <li><a href="single-product.html">Shoes</a></li>
                          <li><a href="single-product.html">style</a></li>
                          <li><a href="single-product.html">trend</a></li>
                        </ul>
                      </dd>
                    </dl>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12">
              <!-- Bootstrap tabs-->
              <div class="tabs-custom tabs-horizontal" id="tabs-1">
                <!-- Nav tabs-->
                <ul class="nav nav-custom nav-custom-tabs nav-custom__align-left">
                  <li class="nav-item"><a class="nav-link" href="#tabs-1-1" data-toggle="tab">ОПИС</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tabs-1-2" data-toggle="tab">ДОДАТКОВА ІНФОРМАЦІЯ</a></li>
                </ul>
              </div>
              <div class="tab-content text-left">
                <div class="tab-pane fade" id="tabs-1-1">
                  <h5>Опис</h5>
                  <p>Fashion has always been so temporary and uncertain. You can’t keep up with it.  This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies. Obviously there is nothing wrong about it because fashion satisfies our willingness to be attractive. And also fashion is the detector of prosperity and social rank. So, our natural desire to wear fashionable clothes has many reasons such as historical, social and others. Therefore being fashionable costs a lot of money. But nowadays fashion is not such unavailable as it was a couple of centuries ago. We are lucky to have an opportunity to buy qualitative, fashionable and affordable clothes.</p>
                </div>
                <div class="tab-pane fade" id="tabs-1-2">
                  <h5>Додаткова інформація</h5>
                  <table class="table-product-info">
                    <tbody>
                      <tr>
                        <td>brand</td>
                        <td>Gola Exclusive</td>
                      </tr>
                      <tr>
                        <td>manufacturer</td>
                        <td>China</td>
                      </tr>
                      <tr>
                        <td>occasion</td>
                        <td>Casual</td>
                      </tr>
                      <tr>
                        <td>season</td>
                        <td>Winter/Autumn</td>
                      </tr>
                      <tr>
                        <td>wash</td>
                        <td>Machine wash</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Divider-->
      <div class="container">
        <div class="divider"></div>
      </div>

      <section class="section novi-bg novi-bg-img section-md bg-default">
        <div class="container text-center">
          <h5>Пов'язані продукти</h5>
          <!-- Owl Carousel-->
          <div class="owl-carousel carousel-product" data-autoplay="true" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="4" data-stage-padding="0" data-loop="false" data-margin="50" data-mouse-drag="false" data-nav="true">
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../static/images/adidas-Originals-Trefoil-Logo-Snapback-Trucker-Cap-300x400.jpg" alt="" width="300" height="400"/>
                  <div class="product-label-wrap"><span class="featured">Featured</span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Women</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">Adidas Originals Trefoil Logo Snapback Trucker Cap</a></h6>
                  <p class="product-price"><span>48</span>
                  </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>До кошика</span></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../static/images/ASOS-Sculpt-Me-Premium-Jeans-in-Clean-Black-300x400.jpg" alt="" width="300" height="400"/>
                  <div class="product-label-wrap"><span class="new">New</span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Women</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">ASOS ‘Sculpt Me’ Premium Jeans in Clean Black</a></h6>
                  <p class="product-price"><span>45</span>
                  </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>До кошика</span></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../static/images/ASOS-70s-Metal-Round-With-Flash-Flat-Lens_2-300x400.jpg" alt="" width="300" height="400"/>
                  <div class="product-label-wrap"><span class="sale">Sale</span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">ASOS 70s Metal Round With Flash Flat Lens</a></h6>
                  <p class="product-price sale-price"><span>45</span><span>56</span>
                  </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>До кошика</span></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../static/images/ASOS-Cat-Eye-Sunglasses_2-300x400.jpg" alt="" width="300" height="400"/>
                  <div class="product-label-wrap"><span></span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Women</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">ASOS Cat Eye Sunglasses</a></h6>
                  <p class="product-price"><span>36</span>
                  </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>До кошика</span></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../static/images/ASOS-Denim-Shrunken-Jacket-In-Washed-Black_1-300x400.jpg" alt="" width="300" height="400"/>
                  <div class="product-label-wrap"><span></span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Women</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">ASOS Denim Shrunken Jacket In Washed</a></h6>
                  <p class="product-price"><span>16</span>
                  </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>До кошика</span></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../static/images/ASOS-Patch-Pocket-Woven-Shorts-300x400.jpg" alt="" width="300" height="400"/>
                  <div class="product-label-wrap"><span></span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Women</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">ASOS Patch Pocket Woven Shorts</a></h6>
                  <p class="product-price"><span>44</span>
                  </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>До кошика</span></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../static/images/Boopacks-Mini-Boo-Backpack-300x400.jpg" alt="" width="300" height="400"/>
                  <div class="product-label-wrap"><span></span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Women</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">Boopacks Mini Boo Backpack</a></h6>
                  <p class="product-price"><span>34</span>
                  </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>До кошика</span></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../static/images/Calvin-Klein-Iron-Strength-Bralette-300x400.jpg" alt="" width="300" height="400"/>
                  <div class="product-label-wrap"><span></span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Women</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">Calvin Klein Iron Strength Bralette</a></h6>
                  <p class="product-price"><span>32</span>
                  </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>До кошика</span></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="product product-grid">
                <div class="product-img-wrap"><img src="../static/images/Cheap-Monday-Drift-High-Rise-Skinny-Ankle-Kick-Jeans_1-300x400.jpg" alt="" width="300" height="400"/>
                  <div class="product-label-wrap"><span></span></div>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Sport</a></li>
                    <li><a href="#">Women</a></li>
                  </ul>
                  <h6 class="product-title"><a href="single-product.html">Cheap Monday Drift High Rise Skinny Ankle Kick Jeans</a></h6>
                  <p class="product-price"><span>65</span>
                  </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>До кошика</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     <!-- Page Footer-->
     <footer>
      <div class="pre-footer-corporate novi-bg novi-bg-img">
        <div class="container">
          <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
            <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
              <h6>Розташування</h6>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.254714460205!2d24.030267815459812!3d49.83767133920889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473adde6c519bf87%3A0xc2bb77774c1ff325!2sAtelier%20Oksana%20Piekna!5e0!3m2!1sen!2spl!4v1604610923492!5m2!1sen!2spl" width="100%" height="93%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
              <h6>Контакти</h6>
              <ul class="list-xs">
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Адреса</dt>
                    <dd>79000, Львів, вул. Остапа Нижанківського, 26</dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Телефони</dt>
                    <dd>
                      <ul class="list-semicolon">
                        <li><a href="tel:+380322355385"><br>+380 (32) 235-53-85</a></li>
                        <li><a href="tel:+380679284646"><br>+380 (67) 928-46-46</a></li>
                        <li><a href="tel:+380979359223"><br>+380 (97) 935-92-23</a></li>
                      </ul>
                    </dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>E-mail</dt>
                    <dd>
                      <ul class="list-semicolon">
                        <li><a href="mailto:oksana_piekna@i.ua"><br>oksana_piekna@i.ua</a></li>
                        <li><a href="mailto:pieknaoksana@gmail.com"><br>pieknaoksana@gmail.com</a></li>
                      </ul>
                    </dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Графік роботи</dt>
                    <dd>Пн-Нд 10.00 – 19.00</dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-corporate novi-bg novi-bg-img">
        <div class="container">
          <div class="footer-corporate__inner">
            <p class="rights"><span>© Oksana Piekna,</span>
              <!-- <span>&nbsp;</span> -->
              <span class="copyright-year"></span>.</p>
            <ul class="list-inline-xxs">
              <li><a class="icon novi-icon icon-md icon-primary fa fa-facebook" href="#"></a></li>
              <li><a class="icon novi-icon icon-md icon-primary fa fa-instagram" href="#"></a></li>
              <li><a class="icon novi-icon icon-md icon-primary fa fa-instagram" href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="../static/js/core.min.js"></script>
    <script src="../static/js/script.js"></script>
  </body>
</html>