<!DOCTYPE html>
<html class="wide wow-animation" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Site Title-->
    <title>Single Product</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" th:href="@{https://fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div id="page-loader">
      <div class="cssload-container">
        <div class="cssload-speeding-wheel"></div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page header-->
      <div th:replace="~{fragments/headersFrag.html :: mainHeader}"></div>

      <!-- Breadcrumbs-->
      <section class="section novi-bg novi-bg-img breadcrumbs-custom">
        <div class="container">
          <div class="breadcrumbs-custom__inner">
            <p class="breadcrumbs-custom__title">Детальніше</p>
          </div>
        </div>
      </section>

      <section class="section novi-bg novi-bg-img section-md bg-default">
        <div class="container">
          <div class="row row-fix row-60">
            <div class="col-md-6 col-lg-5">
              <!-- Slick Carousel-->
              <div class="item"><a class="img-thumbnail-variant-2" th:href="@{|/shop/getImgByProductId/${product.getId()}|}" data-lightgallery="item">
                    <figure><img th:src="@{|/shop/getImgByProductId/${product.getId()}|}" alt="" width="535" height="714"/>
                    </figure>
                    <div class="caption"><span class="icon novi-icon icon-lg linear-icon-magnifier"></span></div></a>
              </div>
            </div>
            <div class="col-md-6 col-lg-7">
              <div class="product-single">
                <p class="product-stock">В наявності</p>
                <h4 th:text="${product?.getName()}">Product Name</h4>
                <p class="product-price"><span th:text="${product?.getPrice()}">Price</span></p>
                <p class="product-text" th:text="${product?.getDescription()}">Product description</p>
                <div class="form-wrap product-select">
                  <!--Select 2-->
                  <select class="form-input select-filter" data-placeholder="Size" data-minimum-results-for-search="Infinity">
                    <option th:each="s :${product.getSizes()}" th:value="${s}" th:text="${s}"></option>
                    <option value="2">XS</option>
                    <option value="3">S</option>
                    <option value="4">M</option>
                    <option value="5">L</option>
                    <option value="6">XL</option>
                  </select>
                </div>
                <div class="group group-middle">
                  <input class="form-input" type="number" data-zeros="true" value="1" min="1" max="50">
                  <button class="button button-primary button-icon button-icon-left" type="submit"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>До кошика</span></button>
                </div>
                <ul class="product-meta">
                  <li>
                    <dl class="list-terms-minimal">
                      <dt>SKU</dt>
                      <dd>256</dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="list-terms-minimal">
                      <dt>Category</dt>
                      <dd>
                        <ul class="product-categories">
                          <li><a href="single-product.html">Accessories</a></li>
                          <li><a href="single-product.html">Shoes</a></li>
                          <li><a href="single-product.html">Sport</a></li>
                          <li><a href="single-product.html">Women</a></li>
                        </ul>
                      </dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="list-terms-minimal">
                      <dt>Tags</dt>
                      <dd>
                        <ul class="product-categories">
                          <li><a href="single-product.html">skirt</a></li>
                          <li><a href="single-product.html">Shoes</a></li>
                          <li><a href="single-product.html">style</a></li>
                          <li><a href="single-product.html">trend</a></li>
                        </ul>
                      </dd>
                    </dl>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Divider-->
      <div class="container">
        <div class="divider"></div>
      </div>

      <section class="section novi-bg novi-bg-img section-md bg-default">
        <div class="container text-center">
          <h5>Пов'язані продукти</h5>
          <!-- Owl Carousel-->
          <div class="owl-carousel carousel-product" data-autoplay="true" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="4" data-stage-padding="0" data-loop="false" data-margin="50" data-mouse-drag="false" data-nav="true">
            <div class="item" th:each="pr : ${allProducts}">
              <div class="product product-grid">
                <div class="product-img-wrap"><img th:src="@{|/shop/getImgByProductId/${pr.getId()}|}" alt="" width="300" height="400"/>
                </div>
                <div class="product-caption">
                  <ul class="product-categories">
                    <li th:each="type : ${pr.getTypeOfProduct()}">
                      <a href="#" th:text="${type.getName()}">Accessories</a>
                    </li>
                  </ul>
                  <h6 class="product-title"><a th:href="@{'/singleProduct/'+${pr.getId()}}" th:text="${pr.getName()}">Adidas Originals Trefoil Logo Snapback Trucker Cap</a></h6>
                  <p class="product-price"><span th:text="${pr.getPrice()}">48</span>
                  </p><a class="button-primary button button-icon button-icon-left" href="single-product.html"><span class="icon novi-icon icon-md linear-icon-cart"></span><span>До кошика</span></a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
     <!-- Page Footer-->
      <div th:replace="~{fragments/footersFrag.html :: mainFooter}"></div>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script th:src="@{/js/core.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
  </body>
</html>